
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-header bg-teal text-white text-center">
        <h3 class="h3">Pruebas</h3>
    </div>

    <div class="card-body">
        <div class="card-title">Lista de pruebas <a href="/Pruebas/Create" class="btn btn-success ml-3"><i class="fa fa-plus"></i> Agregar</a></div>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                <table class="table table-hover" id="tablePruebas">
                    <thead class="table-primary">
                        <tr>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Dirección</td>
                            <td>DPI</td>
                            <td>Opciones</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        new PruebaIndex();
    </script>
}