<div class="card">
    <div class="card-header bg-primary text-white text-center">
        <h3 class="h3">Listado de Pacientes</h3>
    </div>
    <div class="card-body">
        <div class="card-title text-right">
            <button type="button" class="btn btn-primary ml-3 " id="btnAddPaciente">
                <i aria-hidden="true" class="fa fa-plus"></i> Agregar</button>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
            <table id="dtPacientes" class="table table-hover dt-responsive" style="width:100%">
            <thead class="table-primary">
                <tr>
                    <td>Nombres</td>
                    <td>Apellidos</td>
                    <td>Telefono</td>
                    <td>Opciones</td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            </div>
        </div>
    </div>
</div>