
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<div id="clinicasCreate">
    @Html.Partial("_Create")
</div>
<div id="clinicasEdit">
    @Html.Partial("_Edit")
</div>
<div id="clinicasShow">
    @Html.Partial("_Show")
</div>
